* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(177, 192, 182);
}

.clock {
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(IMG/Zifferblatt.png);
    background-size: cover;
    /*border: 4px solid #091921;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
        inset 0 -15px 15px rgba(255, 255, 255, 0.05),
        0 15px 15px rgba(0, 0, 0, 0.3),
        inset 0 15px 15px rgba(0, 0, 0, 0.3);*/
}

.clock::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    background: #3d3d3d;
    border-radius: 50%;
    z-index: 10000;
    box-shadow: -3px 3px 8px #8a8a8a;
}

.clock .daylenght,
.clock .sunrse,
.clock .sunset,
.clock .grdrng,
.clock .hour,
.clock .zeitsunr,
.clock .zeitsunst,
.clock .min,
.clock .sec {
    position: absolute;
}

.clock .daylenght,
.dl {
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(13, 63, 0);
    justify-content: center;
    width: 200px;
    height: 228px;
}

.clock .sunrse,
.snrs {
    width: 800px;
    height: 800px;
}

.clock .zeitsunr,
.sr {
    width: 190px;
    height: 743px;
    transform: rotate(180deg);
    }
    
.clock .zeitsunst,
.sst {
    width: 190px;
    height: 747px;
    transform: rotate(180deg);
    }

.clock .sunset,
.snst {
    width: 800px;
    height: 800px;
}

.clock .grdrng,
.grg {
    width: 800px;
    height: 800px;
}

.clock .hour,
.hr {
    width: 160px;
    height: 0px;
    transform: rotate(0.3deg);
}

.clock .min,
.mn {
    width: 190px;
    height: 486px;
    transform: rotate(0.3deg);
}

.clock .sec,
.sc {
    width: 230px;
    height: 485px;
    transform: rotate(0.1deg);
}

.dl,
.snrs,
.snst,
.grg,
.hr,
.sr,
.sst,
.mn,
.sc {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: absolute;
    border-radius: 50%;
}

.snrs::before {
    content: '';
    position: absolute;
    width: 800px;
    height: 800px;
    background: url(IMG/Sonnenaufgang.png);
    border-radius: 50%;
    z-index: 7000;
    transform: rotate(-90.5deg);
    /* W3C */
}

.sr {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(13, 63, 0);
}
.sr::before{
    content: '';
    position: absolute;
    z-index: 7000;
    }
    
.sst {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(13, 63, 0);
}
.sst::before{
    content: '';
    position: absolute;
    z-index: 9000;
    }

.snst::before {
    content: '';
    position: absolute;
    width: 800px;
    height: 800px;
    background: url(IMG/Sonnenuntergang.png);
    border-radius: 50%;
    z-index: 9000;
    transform: rotate(90deg);
    /* W3C */
}

.dl::before {
    content: '';
    position: absolute;

}

.grg::before {
    content: '';
    position: absolute;
    width: 800px;
    height: 800px;
    background: url(IMG/GradeRing.png);
    border-radius: 50%;
    z-index: 1;
    transform: rotate(0deg);
    /* W3C */
}

.hr::before {
    content: '';
    position: absolute;
    width: 52px;
    height: 172px;
    background: url(IMG/StundenZeiger_ROT_Schatten.png);
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.mn::before {
    content: '';
    position: absolute;
    width: 52px;
    height: 235px;
    background: url(IMG/MinutenZeiger_ROT_Schatten.png);
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.sc::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 300px;
    background: #353434;
    z-index: 12;
    border-radius: 6px 6px 0 0;
    box-shadow: -9px 6px 6px #cbcbcb;
}